.page-inner {
    max-width: 1000px;
}

#authentication {
    float: right;
}

#authentication a:link,
#authentication a:visited,
#authentication a:hover {
   color: white;
}

#books {
    display: inline-block;
	text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
}

#books a:link,
#books a:visited {
   color: black;
}

#books a:hover {
   color: #6C03A8;
}

#roles {
    display: none;
}

#benavigation {
	background: linear-gradient(to right,#93D522, #023B88);
    font-size: 14px;
}